<center><h1>Login</h1>
	<%= form_for(:session, url: login_path) do |f| %>   
              <%= f.label :username %>
              <%= f.text_field :username %>

              <%= f.label :pass %>
              <%= f.password_field :pass %>

              <%= f.submit "Log in" %>
    <% end %>
<a href="/user/new">dang ky</a>
</center>	
<% if current_user %>
<h2>Danh sach User</h2>
<% @users.each do |user| %>
  <li>
    <%= link_to user.username, user %>
<%end%>
<%else%>
<%end%>
