<center><h1>Login</h1>
	<%= form_for(:session, url: login_path) do |f| %>   
              <%= f.label :username %>
              <%= f.text_field :username %>

              <%= f.label :pass %>
              <%= f.password_field :pass %>

              <%= f.submit "Log in" %>
    <% end %>
<a href="/user/new">dang ky</a>
</center>
