Bat dau post bai:
<a href="/post/new">bat dau viet</a>
<hr />
<h2><%= @user.username%><br /></h2>
    <%= @user.pass%><br />
    <%= form_for @relation do |f| %>
      <%= f.hidden_field :following_id, :value => @user.id %>
      <%= f.submit "Follow" %>
    <% end %>
<br />
Following
<ul>
  <% @user.following.each do |u| %>
    <li><%= link_to u.username, u %></li>
  <% end %>
</ul>
Followed By
<ul>
  <% @user.followers.each do |u| %>
    <li><%= link_to u.username, u %></li>
  <% end %>
</ul>
<br />

