Bat dau post bai:
<a href="/post/new">bat dau viet</a>
<hr />
<h2><%= @user.username%><br /></h2>
<%= @user.pass%><br />
<% if current_user && current_user != @user %>
  <% if current_user.following.include?(@user) %>
    <%= form_for(current_user.following_relations.find_by_following_id(@user.id),
             html: { method: :delete }) do |f| %>
  <%= f.submit "Unfollow" %>
<% end %>
  <% else %>
    <%= form_for @relation do |f| %>
      <%= f.hidden_field :following_id, :value => @user.id %>
      <%= f.submit "Follow" %>
    <% end %>
     <% end %>
      <% end %>
<br />
Following
<ul>
  <% @user.following.each do |u| %>
    <li><%= link_to u.username, u %></li>
    <% @user.following.count %>
  <% end %>
</ul>
Followed By
<ul>
  <% @user.followers.each do |u| %>
    <li><%= link_to u.username, u %></li>
  <% end %>
</ul>
<br />


